{
    "arrowParens": "avoid", 
    "endOfLine": "auto", 
    "printWidth": 80,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "semi": true, 
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all", 
    "useTabs": false,
   
    "rangeStart": 0, 
  
    "overrides": [ 
      {
        "files": "*.json",
        "options": {
          "printWidth": 200
        }
      }
    ]
}