
.calendar-container {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .calendar-year,
    .month-row {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
    .date-text {
        display: flex;
        width: 150px;
        text-align: center;
        justify-content: center;
    }
}


.date-control {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 4px 8px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: white;

    &:hover {
        background-color: lightgray;
        cursor: pointer;
    }
}